* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #08c7ec29;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #0860ec;
}

.main-container {
  background-color: #0860ec29;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

h1 {
  padding: 10px 10px 5px 10px;
  margin: 5px;
  text-align: center;
}

.bookmark-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

input {
  padding: 10px 5px;
  margin: 5px 0 10px 0;
  border: 0.5px solid black;
  border-radius: 5px;
  outline: none;
}

input:hover {
  box-shadow: 0 0 0 2px rgba(8, 96, 236, 0.15);
}

input:focus {
  box-shadow: 0 0 0 3px rgba(8, 96, 236, 0.3);
}

.add-bookmark {
  padding: 10px 5px;
  margin: 8px 0 15px 0;
  background-color: #0860ec;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  pointer: cursor;
  transition: all 0.2s ease;
}

.add-bookmark:hover {
  background-color: #064dbd;
}

.add-bookmark:active {
  transform: scale(0.98);
}

.list-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 2px solid #064dbd;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.bookmarked-list {
  list-style: none;
}

.bookmarked-list a {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}

.bookmarked-list .rmv-btn {
  background-color: #cd1515;
  color: white;
  font-size: 12px;
  padding: 8px 15px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  pointer: cursor;
  transition: scale 0.2s ease;
}

.rmv-btn:hover {
  background-color: #cd15158f;
}

.rmv-btn:active {
  transform: scale(0.98);
}
